.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
}

img{
    width: 10%;
}

imagem-escola{
    width: 50%;
}










